<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy:YelpCamp 2022</span><a style="text-decoration: none; color: white;" href="https://www.linkedin.com/in/gaurav-singh-159548202/">Gaurav
            Singh</a>
    </div>
</footer>